.northern-img{
	height: 30vmin;
	display: flex;
}

.northern-img img{
	height: 100%;
	width: 33%;
	margin: auto;
	border: 3px solid black;
}


/* navigation */
.navigation ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	font-size: 2vmin;
}

.navigation li{
	margin-left: 2vmin;
	margin-right: 2vmin;
}