.background-pictures1{
	background: url("../Pictures/about-page-pic3.jpg");
}

.background-pictures2{
	background: url("../Pictures/about-page-pic4.jpg");
}

.background-pictures3{
	background: url("../Pictures/about-page-pic2.jpg");
}
