.background-div{
	height: 89vh;
	width: 100%;
	position: sticky;
	z-index: -1;
	top: 5vh;
}

.background-div div{
	height: inherit;
	background-position: center;
	background-attachment: fixed;
	background-color: #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
