.profile{
	background: url("../Pictures/profile-background2.jpg");
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 28vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: -10px -10px 0px -10px;
}

.nav-div{
	position: absolute;
	right: 3vw;
	top: 2vw;
}

.nav-bar a{
	display: inline-block;
	position: relative;
	width: 10vmin;
	height: 4vmin;
	margin-left: -5px;
	color: white;
	text-decoration: none;
	font-size: 2vmin;
	font-family: arial;
	line-height: 4vmin;
	text-align: center;
	border-radius: 8px;
}

.nav-bar a:hover{
	background-color: dimgray;
	transition: all 0.6s ease-in-out;
}

#profile-pic-div{
	position: absolute;
	top: 8vw;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile-pic{
	background: url("../Pictures/profile-pic.jpg");
	background-size: 100% 100%;
	height: 10vw;
	width: 10vw;
	border-radius: 50%;
	border: 0.3vmin solid white;
}

#name-intro{
	color: white;
	background-color: black;
	font-size: 3.5vmin;
	font-weight: normal;
	margin: 3% auto auto auto;
	font-family: Helvetica, sans-serif;
}

#current-role{
	color: white;
	background-color: black;
	font-size: 2vmin;
	font-weight: lighter;
	margin: 1% auto auto auto;
	font-family: Helvetica, sans-serif;
}


@media (max-width: 1500px){
	.nav-div{
		top: 3vw;
	}
	
	.profile{
		height: 50vw;
	}
	
	#profile-pic-div{
		top: 12vw;
	}
	
	#profile-pic{
		height: 20vw;
		width: 20vw;
	}
	
	#name-intro{
		font-size: 5vmin;
	}
	
	#current-role{
		font-size: 3.5vmin;
	}
}


.progress{
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.right-progress, .left-progress{
	display: block;
	width: 40%;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar{
	width: 90%;
	border-radius: 8px;
	height: 2vmin;
	margin-bottom: 3vmin;
	margin-top: 1vmin;
	background-color: #cfd3d3;
}

.progress-bar div{
	border-radius: 8px;
	height: inherit;
}

.lang-name{
	font-size: 2vw;
	font-weight: bold;
	font-family: arial;
}

#progress-1{
	width: 60%;
	background:
		repeating-linear-gradient(
		-40deg, 
		#5cb85c 0px, 
		#5cb85c 10px, 
		#449d44 10px, 
		#449d44 20px
		);
}

#progress-2{
	width: 90%;
	background:
		repeating-linear-gradient(
		-40deg, 
		#5bc0de 0px, 
		#5bc0de 10px, 
		#31b0d5 10px, 
		#31b0d5 20px
		);
}

#progress-3{
	width: 70%;
	background:
		repeating-linear-gradient(
		-40deg, 
		#f0ad4e 0px, 
		#f0ad4e 10px, 
		#ec971f 10px, 
		#ec971f 20px
		);
}

#progress-4{
	width: 50%;
	background:
		repeating-linear-gradient(
		-40deg, 
		#5cb85c 0px, 
		#5cb85c 10px, 
		#449d44 10px, 
		#449d44 20px
		);
}

#progress-5{
	width: 90%;
	background:
		repeating-linear-gradient(
		-40deg, 
		#5bc0de 0px, 
		#5bc0de 10px, 
		#31b0d5 10px, 
		#31b0d5 20px
		);
}


@media (max-width: 1000px){
	.progress{
		display: block;
	}
	
	.left-progress, .right-progress{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

