/* --------------------------------------------------------------- */
body {
	padding-left: 60px;
	padding-right: 60px;
	background-color: white;
}

@media (max-width: 750px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
}

html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
	color: #111111 !important;
}
/* --------------------------------------------------------------- */









/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* middle main content display area */
.content-display-area {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */









/* --------------------------------------------------------------- */
/* header part */
.header {
	width: 100%;
	margin-top: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: futura, helvetica, sans-serif;
}

@media (max-width: 750px) {
	.header {
		margin-top: 40px;
	}
}

/* FRANKY ZHANG, link to index */
.name-brand {
	display: flex;
	flex-direction: column;
}

.name {
	font-size: 40px;
	font-weight: bolder;
	font-family: helvetica;
	color: black;
}

.title {
	font-size: 12px;
	font-family: helvetica;
	color: #DDDDDD;
	margin-top: 0px
}

/* nav bar */
.nav-bar {
	display: flex;
	justify-content: space-between;
	width: 240.28px;
	height: 50.38px;
}

.navlink {
	font-size: 13px;
	font-family: futura;
	color: #999999;
	padding: 20px 0;
}

.navlink:active {
	color: #111111;
}

/* mobile navbar */
.mobile-nav-bar {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.mobile-nav-bar a {
	font-size: 16px;
	font-family: futura;
	font-weight: lighter;
	color: #999999;
	width: 100%;
}

.mobile-navlink {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 16px;
}

.breakline {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #DDDDDD;
}

.active{
	color: #111111;
}

@media (max-width: 750px) {
	.nav-bar {
		display: none;
	}

	.mobile-nav-bar {
		display: block;
	}

	.name-brand {
		align-items: center;
		margin: auto;
	}
}
/* --------------------------------------------------------------- */









/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* portfolio thumbnail section */
.project-thumbnail {
	width: 100%;
	margin-top: 55px;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project {
	width: 31.333333333%;
	margin-top: 35px;
}

@media (max-width: 750px) {
	.project {
		width: 48%;
		margin-top: 25px;
	}

	.project-thumbnail {
		margin-top: 50px;
	}
}

.project-cover {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

/* to keep 1:1 ratio */
.project-cover:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.project-cover img {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}

.project-title {
	display: block;
	text-align: center;
	font-size: 12.5px;
	font-family: helvetica, futura;
	font-weight: lighter;
	letter-spacing: 0.5px;
	color: #404040;
	margin-top: 15px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */








/* --------------------------------------------------------------- */
/* project display window */
.project-display-window{
	display: none;
	margin-top: 100px;
}

.project-display-window:target{
	display: block;
}

.project-display-title{
	text-align: center;
	margin-bottom: 15px;
	font-size: 30px;
	font-family: futura;
	font-weight: bold;
	color: #222222;
}

.project-display-description{
	margin-top: 30px;
	font-size: 15px;
	line-height: 1.8em;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	color: #575757;
}

.project-display-info-right{
	margin-top: 50px;
	width: 250px;
	float: right;
	margin-left: 34px;
	margin-right: 12px;
}

.project-display-title-right{
	font-size: 24px;
	line-height: 1.8em;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	color: #575757;
}

/* So far, only been used for the project won the competition */
.project-display-note{
	margin-top: 30px;
	font-size: 15px;
	line-height: 1.8em;
	font-family: helvetica, sans-serif;
	font-weight: bolder;
	color: #575757;
}

.project-display-subtitle-left{
	margin-top: 100px;
	font-size: 30px;
	font-family: helvetica;
	font-weight: lighter;
	color: #222222;
	letter-spacing: 2px;
}

.project-display-subtitle-center{
	margin-top: 100px;
	font-size: 30px;
	font-family: helvetica;
	font-weight: lighter;
	color: #222222;
	letter-spacing: 2px;
	text-align: center;
}

.picture-container {
	width: 48%;
	margin-top: 36px;
}

.project-display-picture{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.project-display-picture img{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.iframe-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* to keep 1:1 ratio */
.ratio-1-1:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.margin-offset-1-1{
	margin-top: -100%;
}

/* to keep 16:9 ratio */
.ratio-16-9:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.margin-offset-16-9{
	margin-top: -56.25%;
}


/* to keep 4:3 ratio */
.ratio-4-3:before {
	content: "";
	display: block;
	padding-top: 80%;
}

.margin-offset-4-3{
	margin-top: -80%;
}


/* to keep 4:3 ratio */
.ratio-3-4:before {
	content: "";
	display: block;
	padding-top: 133.33%;
}

.margin-offset-3-4{
	margin-top: -133.33%;
}

/* to keep 9:16 ratio */
.ratio-9-16:before {
	content: "";
	display: block;
	padding-top: 177.77%;
}

.margin-offset-9-16{
	margin-top: -177.77%;
}


/* So far, only been used in Nike one */
.width-3-of-4{
	width: 73.29%;
}

.width-1-of-4{
	width: 22.71%;
}


/* for pictures have fullsize  */
.project-picture-fullsize{
	width: 100%;
	margin-top: 36px;
}

.picture-container img{
	width: 100%;
}


/* for pictures align left, description align right */
/* eg. DVD, Poster */
.poster-picture-container{
	display: block;
	max-width: 900px;
	margin-right: 300px;
}


/* for the title underneath a picture */
/* eg. Maroon 5 Can */
.project-picture-subtitle{
	margin-top: 20px;
	font-size: 12px;
	font-family: helvetica;
	font-weight: bold;
	color: #575757;
}



/* compatibility */
@media (max-width: 750px){
	.project-picture-subtitle{
		width: 100%;
	}
	
	.project-display-info-right{
		width: 100%;
		float: none;
		margin-left: 0;
	}
	
	.poster-picture-container{
		width: 100%;
	}
	
	.picture-container{
		width: 100%;
	}
	
	.picture-subtitle-container{
		width: 100%;
	}
	
	.width-3-of-4{
		width: 100%;
	}
	
	.width-1-of-4{
		width: 100%;
	}
}
/* --------------------------------------------------------------- */









/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* navbar within the modal window for displaying the project pictures */
.project-display-navbar{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.project-display-navlink{
	font-size: 15px;
	font-family: helvetica, sans-serif;
	color: #111111;
}

.project-display-navlink-disabled{
	color: #999999;
	pointer-events: none;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */









/* --------------------------------------------------------------- */
/* about page */
.my-picture {
	width: 57%;
}

.picture {
	width: 100%;
}

.picture img {
	width: 100%;
}

.self-intro {
	width: 30%;
}

.self-intro h1 {
	font-size: 30px;
	font-family: futura;
	font-weight: lighter;
	line-height: 1.8em;
	color: #222222;
}

.self-intro p, .self-intro a {
	font-size: 15px;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	line-height: 1.8em;
	color: #575757;
}

.self-intro p:nth-child(5) {
	font-weight: bold;
}

.contact-breakline {
	width: 100%;
	height: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #DDDDDD;
}

@media (max-width: 750px) {
	.my-picture {
		width: 100%;
	}

	.self-intro {
		width: 100%;
		margin-top: 30px;
	}
}
/* --------------------------------------------------------------- */









/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* footer */
.footer {
	width: 50%;
	margin-top: 100px;
	margin-bottom: 35px;
	font-size: 15px;
	font-family: helvetica, sans-serif;
	line-height: 1.8em;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */