.img-block {
	width: 100%;
	height: 30vw;
	border: 1px solid coral;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3vw;
}

.img1, .img2 {
	width: 30%;
	margin: 1% auto 1% auto;
	border: 1px solid blue;
	border-radius: 12px;
	box-shadow: 10px 5px 10px blueviolet;
}

.img1 {
	filter: grayscale(50);
}

.pa-div {
	width: 30%;
	margin: 1% auto 1% auto;
	text-align: center;
	border: 1px solid red;
	border-radius: 12px;
}

.pa,
.pa-div a {
	font-size: 3vmin;
}

.title {
	height: 10vmin;
	width: 30%;
	margin: auto;
	background: greenyellow;
	line-height: 10vmin;
	text-align: center;
	font-size: 5vmin;
	border-radius: 18px;
	box-shadow: 10px 5px 10px purple;
	text-shadow: 10px 5px 10px purple;
}

.btn {
	display: block;
	margin: auto auto;
	margin-top: 30%;
	height: 3vmin;
	width: 40%;
	border-radius: 12px;
	background-color: aqua;
}
