.imgs{
	height: 40vmin;
	display: flex;
}

.imgs img, .imgs div{
	height: 35vmin;
	width: 32%;
	margin: auto;
	border: 3px solid black;
	background-color: lightpink;
	display: flex;
}

.imgs div p{
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	font-weight: bolder;
	padding: 10px;
	font-size: 2vmin;
	line-height: 2vmin;
}
