.navigation{
	background-color: #FFB6C1;
	height: 4vmin;
}

.navigation ul{
	height: inherit;
	width: 70%;
	list-style-type: none;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.navigation li{
	height: inherit;
	width: 25%;
	text-align: center;
	border-radius: 10px;
	font-size: 1.5vmin;
	line-height: 4vmin;
}

.navigation a{
	height: inherit;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.navigation li:hover{
	background-color: lightcoral;
	transition: 1s;
}